<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        table {
            margin-top: 20px;
        }
        table, th, td {
            border-collapse: collapse;
            padding: 10px;
            font-size: 0.7rem;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user" method="POST">
        <label>Full name</label>
        <input type="text" name="name" id="">

        <label>Email</label>
        <input type="text" name="email" id="">

        <label>Password</label>
        <input type="text" name="password" id="">

        <button type="submit">SignUp</button>
    </form>
</body>
</html>